/* from https://www.youtube.com/watch?v=JJSoEo8JSnc */

.container-1{
  padding:1rem;
  display:block;
}

.container-2{
  border-radius: 1rem;
  box-shadow: 3px 3px 12px lightgrey;
  margin-bottom: 2rem;
  background-color: white;

}
@media(min-width:700px){
  .container-1{
    width: 100%;
    display: grid;
    margin: 0px;
    padding: 1rem;
    /* border: 1px red solid; */

    justify-content: center;
    /* order:1 //control the order of box */
    /* align-items: flex-start //top wrap */
    /* flex-direction:column; //columns instead of rows */

    width: 100%;
  }

  .container-2{
    /* max-width: 1600px; */
    /* align-self: center; */
    padding: 0;
    /* border: 1px blue solid; */
    display: flex;
    /* justify-content: center; */
    flex-wrap:wrap;
    /* align-content: center; */

    border-radius: 1rem;
    box-shadow: 3px 3px 12px lightgrey;
    margin: 1rem;
    min-width: 700px;
    background-color: white;


  }
}



  .container-2 div{
  /* border: 1px black solid; */
  padding: 1rem 2rem 0rem 1rem;
  /* padding-left: 2rem; */
  flex-wrap:wrap;
  min-height: 250px;
  /* color: black; */

  /* width:100%;
  max-width: 1600px; */


}

.box-1{
  flex:3;
 /* flex-basis:2; */
 background-color:white;

 border-top-left-radius: 1rem;
 border-top-right-radius: 0;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 0;
}

.box-2{
  flex:2;
  /* flex-basis:1; */
  /* background-color: white; */
  /* color: black; */

  border-top-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0;

}

.box-3{
  flex:1;
  /* flex-basis:auto; */


}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@///////////change to main.css///////////@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2 */

/* scrollbar hidden from https://stackoverflow.com/questions/3296644/hiding-the-scrollbar-on-an-html-page */
::-webkit-scrollbar {
    display: none;
}

body{
  font-family: "IBMPlexSans", Helvetica, sans-serif;
  background-color: rgba(0,0,0,0.02);
  color: rgba(0,0,0,0.9);
}

h1{
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

h2 {
  color: rgba(0,0,0,0.9);
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  /* margin-top: 1rem; */
  margin-top: .25rem;
  margin-bottom: 1rem;
}

p {
  /* white-space: normal;
  overflow: scroll; */
  font-weight: normal;
  color: rgba(0,0,0,0.6);

  min-width: 250px;
  max-width: 500px;
  line-height: 1.3rem;
  margin: 0.5rem 0;
}

div{
  /* background-color: white; */
}

img{
  max-width: 500px;
  max-height: 600px;
  /* justify-content: flex-start; */
  margin: 1rem 0;
  display:block;
}


.cover-img{
  color: rgba(255, 0, 0, 0.5);
  position: absolute;
  float:left;
  z-index: 1;
  margin-top: -8rem;
  margin-right:0rem;
  max-width: 100%;
  right: 0px;
  padding: 1rem;
  max-height: 600px;
}

@media(max-width:700px){

  img{
    max-width:100%;
    display:block;
    /* max-width: device-width; */
  }

  .cover-img{
    position: relative;
    display: block;
    float:left;
    z-index: 1;
    /* margin-top: -2rem; */
  }
}


header {
    background: #f5b335;
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;

    box-shadow: 3px 3px 12px lightgrey;
    margin-bottom: 2rem;
    background-color: white;

    align-content: center;

    box-shadow:
}



.nav-menu {
  align-self: center;
  text-decoration: none;
  color: gray;
}

.bottom-line {
  border-radius: 0;
  padding-bottom: 1rem;
  border-bottom: 1px lightgray solid;
  position: absolute;
  width: 100%;
  margin: 1rem;
}



.video-container {
  position: relative;
/* padding-bottom: 1rem; /* 16:9 */ */
padding-top: 2rem;
height: 0;
}

.embed-container {
  position: relative;
  padding: 0 0 40% 0;
  height: 100%;
  overflow: visible;
  width: 100%;
  max-width: 100%;
  height: auto; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  /* max-width: 900px; */
  height: 100%;
  }

  @media(max-width:700px){
    .embed-container {
      position: relative;
      padding: 0 0 56.25% 0;
      height: 100%;
      overflow: visible;
      width: 100%;
      max-width: 100%;
      height: auto; }

  }
/*
.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
top: 0;
left: 0;
width: 100%;
height:400px;

} */

.nav-bar {
  position: fixed;
  /* display:block; */
  text-align: center;
  /* align-content: center; */
  margin-top: -4rem;
  left: 20%;
  max-width: 100%;
  z-index: 1;
  /* border-bottom: solid black 1px; */
  /* padding-bottom: -3rem; */
}

.nav-link {
  position: relative;
  display: inline-block;
  margin: 1rem 0;
  margin-right: 3rem;
  font-weight: bold;
  color: rgba(0,0,0,0.8);
  /* margin: 1rem; */
  text-decoration: none;
  /* border-bottom: solid rgba(0,0,0,0.3) 1px;   */
  /* display:block; */
  padding-bottom: 4px;
}
.nav-link:hover {
  padding-bottom: 4px;

  color: rgba(0,0,0,0.9);
  border-bottom: solid rgba(0,0,0,0.6) 1px;
}


.text-link {
  margin: 1rem 0 0 0;
  font-weight: bold;
  color: rgba(0,0,0,0.6);
  margin: 1rem;
  text-decoration: none;
  border-bottom: solid rgba(0,0,0,0.3) 1px;  /* display:block; */
  padding-bottom: 4px;
}

.text-link:hover {
  color: rgba(0,0,0,0.9);
  border-bottom: solid rgba(0,0,0,0.6) 2px;
}


/* a:hover, a:active{
  color: rgba(0,0,0,0.6);
} */


.button{
  border-radius: 99px;
  padding: 10px 50px;
  background-color: rgba(0,0,0,0.8);
  color: white;
  text-decoration: none;
  margin-top: 1rem;
  margin-right: 0.5rem;
  /* margin-bottom: 2rem; */
  display:inline-block;
  z-index: 1;

  transform: scale(1);
  transition: all 0.5s ease;
}

.button2{
  border-radius: 99px;
  padding: 8px 30px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-decoration: none;
  margin-top: 1rem;
  margin-right: 0.5rem;
  /* margin-bottom: 2rem; */
  display:inline-block;
  z-index: 1;

  transform: scale(1);
  transition: all 0.5s ease;
}

.center-me{
  /* display: inline-block; */
  /* margin: 0 auto; */
  position: relative;
  left: 50%;
  /* margin-right: 50%; */
  /* display: inline-block; */
  margin-left: -92px;


}
.bottom{
  /* position:absolute; */
/* padding-bottom: 2rem;
  bottom: 2rem; */
  margin-bottom: 2rem;
  display: inline-block;
}

.button:hover, .button:active, .button2:hover, .button2:active{
  background-color: rgba(0,0,0,0.9);
  color: white;

  transform: scale(1.05);
  transition: all 0.5s ease;
  /* background-color: rgba(0,0,0,0.3); */

}

.about {
  background-color: rgba(255, 255 ,255, 0.6);
margin-top: 4rem;
  padding-top: 8rem;
  margin-left: 20%;
  margin-right: 1rem;
  z-index: 1;
}

/* .menu-item{
  right: 0;
  align-self: flex-end;
} */
}
#close {
  /* clear: both; */
  position: fixed;
  transform-origin: center;
align-content: center;
 /* width: 45px;
  height: 45px; */
padding:0.8rem 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* @media(max-width:700px){
  #close {
    /* clear: both; */
    /* position: fixed;
    transform-origin: center;
  align-content: center;
   /* width: 45px;
    height: 45px; */
  /* padding:0.8rem 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
} */

 /* a{
  color: blue;
  font-weight: bold;
  font-size: 2em;

} */




/* ACCORDION */
/* code from https://www.youtube.com/watch?v=8t8QCRMZCu4 */

.accordion_review {
  /* max-width:30rem; */
  margin:0;
}

.accordion {
  z-index: -10;
}

.accordion-header {
  display: block;
  padding: 2rem 3rem 3rem 3rem;
  margin: 16rem 1rem 0 0;
  width: auto;
  max-width: 100%;
  height: 300px;
  text-decoration: none;
  overflow: hidden;
  background-color: rgba(0,0,0,0.03);
  color: rgba(0,0,0,0.9);
  /* border: red solid 1px; */
  z-index: -10;

}
.accordion-header, .accordion-content{
  max-width:100%;

  /* max-height: 300px; */
  /* transform: translate(50%, -50%); */

  /* background: white; */
}

.accordion-header .cover-img{
  opacity: 0.8;
  margin-top: -10rem;
  left:30%;
  position: absolute;
  z-index: 0;
}

#beet-cover {
  /* margin-top: -13rem; */
  left:auto;
  right:25%;
  z-index: 0;

  /* max-width: 100%;
  max-height: 100%; */
}
#beet-body {
  /* left:auto; */
  /* right:10%; */
  margin-left: 60%;
  z-index: 1;
}

.accordion-body{
  /* opacity:0.5; */
margin-left: 20%;
height: auto;
z-index: 2;
}

@media(max-width:700px){
  .accordion-header {
    padding: 2rem 1rem 3rem 1rem;
  }

  .accordion-body{
    /* opacity:0.5; */
  margin-left: 0;
  }

  .accordion-header .cover-img{
    opacity: 0.8;
/* max-width: 90%; */
right: 0;
margin-right: -5rem;
margin-left: auto;
float: right;
position: absolute;
    /* z-index: 1; */
  }

  #beet-cover {
    /* margin-top: -13rem; */
    left:auto;
    /* right:10%; */
    left: -10%;
    z-index: 0;

    /* max-width: 100%;
    max-height: 100%; */

    transform: scale(1.2);
    transition: all 1s ease;
  }

  .accordion-header:hover #beet-cover{
    transform: scale(1.3);
    transition: all 1.5s ease;
    margin-top: -12rem;
  }

  #beet-cover:not( :hover) {
    transform: scale(1.2);
    transition: all 1s ease;
  }

  .accordion-header p{
    font-size: 0;
    /* opacity: 0; */
  }
}

/* code from https://stackoverflow.com/questions/11660710/css-transition-fade-in */
.accordion-header:hover .cover-img{
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  opacity: 0.9;

  -webkit-transition: margin-top 0.5s ease-in;
  -moz-transition: margin-top 0.5s ease-in;
  -o-transition: margin-top 0.5s ease-in;
  margin-top: -15rem;

  transform: scale(1.05);
  transition: all 2s ease;


}

.accordion-header:not( :hover) .cover-img{
  -webkit-transition: opacity 0.5s ease-in;
  -moz-transition: opacity 0.5s ease-in;
  -o-transition: opacity 0.5s ease-in;
  opacity: 0.8;

  -webkit-transition: margin-top 0.5s ease-in;
  -moz-transition: margin-top 0.5s ease-in;
  -o-transition: margin-top 0.5s ease-in;
  margin-top: -13rem;

  transform: scale(1);
  transition: all 1s ease;
}

@media(max-width:700px){
.cover-img:hover {
    -webkit-transition: margin-top 0.5s ease-in;
    -moz-transition: margin-top 0.5s ease-in;
    -o-transition: margin-top 0.5s ease-in;
    margin-top: -12rem;
    margin bottom:0;

    transform: scale(1.05);
    transition: all 2s ease;

  }

  .accordion-header:hover .cover-img{
    -webkit-transition: margin-top 0.5s ease-in;
    -moz-transition: margin-top 0.5s ease-in;
    -o-transition: margin-top 0.5s ease-in;
    margin-top: -12rem;
    margin bottom:0;

    transform: scale(1.05);
    transition: all 2s ease;

  }

  .accordion-header:not( :hover) .cover-img{
    -webkit-transition: margin-top 0.5s ease-in;
    -moz-transition: margin-top 0.5s ease-in;
    -o-transition: margin-top 0.5s ease-in;
    margin-top: -8rem;

    transform: scale(1);
    transition: all 1s ease;
  }

}
.accordion-header p{
  max-width: 600px;
  z-index: 10;
}
/* a.accordion-header:active {
  background-color: #FFFDF4;
} */

.accordion-content {
  padding: 0;
  height: 0;
  margin-left: 0;

  /* max-height: 600px; */

  overflow: hidden;
  overflow-y: hidden;

  /* background-color: white; */
margin-right: 1rem;
  -webkit-transition:height 1s ease;
  transition:height 1s ease;

  /* width: 100%; */
  /* padding-left:2rem; */
  position: absolute;



}

.accordion-content p {
  /* clear: both; */
z-index: 2;
  /* width: 100%; */
}

.accordion-content:target {

  /* clear: both; */
margin-left: 0;
  height: 100%;
  /* width: 100%; */
  padding: 2rem 3rem 2rem 3rem;
  /* max-height: 600px; */
  /* padding-right: 1rem;
  margin-right: 1rem; */
  background-color: rgba(0,0,0,0.03);
  border: 1.5 solid #ef7e93;
  overflow-y: visible;
  /* width: 100%; */
  position: relative;
  /* z-index: -1; */

}

@media(max-width:700px){
  .accordion-content:target {
    padding: 2rem 1rem;
  }
}

ul {
  /* clear: both; */

  padding-left: 1rem;
  style: none;
  text-decoration:none;
  list-style-type: none;

}

.close{
  /* position: absolute; */
  /* margin-top: 10%;
  margin-left: 80%; */
  /* right: 3rem; */
  display:inline-block;
  padding:  0.5rem 0.75rem;
  /* margin-left:  */
  /* float:right; */
  /* clear: both; */
}
/* .review_container{
  margin: 1.5rem;
  margin-top: 2rem;

} */
