/* from https://www.youtube.com/watch?v=JJSoEo8JSnc */

.container-1{
  padding:1rem;
  display:block;
}

.container-2{
  border-radius: 1rem;
  box-shadow: 3px 3px 12px lightgrey;
  margin-bottom: 2rem;
  background-color: white;

}
@media(min-width:700px){
  .container-1{
    width: 100%;
    display: grid;
    margin: 0px;
    padding: 1rem;
    /* border: 1px red solid; */

    justify-content: center;
    /* order:1 //control the order of box */
    /* align-items: flex-start //top wrap */
    /* flex-direction:column; //columns instead of rows */

    width: 100%;
  }

  .container-2{
    /* max-width: 1600px; */
    /* align-self: center; */
    padding: 0;
    /* border: 1px blue solid; */
    display: flex;
    /* justify-content: center; */
    flex-wrap:wrap;
    /* align-content: center; */

    border-radius: 1rem;
    box-shadow: 3px 3px 12px lightgrey;
    margin: 1rem;
    min-width: 700px;
    background-color: white;


  }
}



  .container-2 div{
  /* border: 1px black solid; */
  padding: 1rem 2rem;
  /* padding-left: 2rem; */
  flex-wrap:wrap;
  min-height: 250px;
  /* color: black; */

  /* width:100%;
  max-width: 1600px; */


}

.box-1{
  flex:3;
 /* flex-basis:2; */
 background-color:white;

 border-top-left-radius: 1rem;
 border-top-right-radius: 0;
 border-bottom-left-radius: 1rem;
 border-bottom-right-radius: 0;
}

.box-2{
  flex:2;
  /* flex-basis:1; */
  /* background-color: white; */
  /* color: black; */

  border-top-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0;

}

.box-3{
  flex:1;
  /* flex-basis:auto; */


}

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@///////////change to main.css///////////@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@2 */

/* scrollbar hidden from https://stackoverflow.com/questions/3296644/hiding-the-scrollbar-on-an-html-page */
::-webkit-scrollbar {
    display: none;
}

body{
  font-family: "IBMPlexSans", Helvetica, sans-serif;
  background-color: rgba(0,0,0,0.02);
  color: rgba(0,0,0,0.9);
}

h1{
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

h2 {
  color: rgba(0,0,0,0.6);
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
  margin-top: 1rem;
}

p {
  /* white-space: normal;
  overflow: scroll; */
  font-weight: normal;
  color: rgba(0,0,0,0.6);

  min-width: 250px;
  max-width: 500px;
  line-height: 1.25rem;
  margin: 0.5rem 0;
}

div{
  /* background-color: white; */
}

img{
  max-width: 500px;
  max-height: 600px;
  /* justify-content: flex-start; */
  margin: 1rem 0;
  display:block;
}

@media(max-width:700px){
  img{
    max-width:100%;
    display:block;
    /* max-width: device-width; */
  }
}


header {
    background: #f5b335;
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.2s ease-in-out;
    width: 100%;

    box-shadow: 3px 3px 12px lightgrey;
    margin-bottom: 2rem;
    background-color: white;

    align-content: center;

    box-shadow:
}

.nav-bar {
    align-content: center;
    text-decoration: none;

}

.nav-menu {
  align-self: center;
  text-decoration: none;
  color: gray;
}

.bottom-line {
  border-radius: 0;
  padding-bottom: 1rem;
  border-bottom: 1px lightgray solid;
  position: absolute;
  width: 100%;
  margin: 1rem;
}



.video-container {
  position: relative;
padding-bottom: 56.25%; /* 16:9 */
padding-top: 25px;
height: 0;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.text-link {
  margin: 1rem 0 0 0;
  font-weight: bold;
  color: rgba(0,0,0,0.9);
  text-decoration:underline;
  /* display:block; */
  padding-right: 1rem;
}


a:hover, a:active{
  color: rgba(0,0,0,0.6);
}


.button{
  border-radius: 99px;
  padding: 10px 50px;
  background-color: rgba(0,0,0,0.6);
  color: white;
  text-decoration: none;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display:inline-block;
}

.button:hover, .button:active{
  background-color: rgba(0,0,0,0.9);
  color: white;
  /* background-color: rgba(0,0,0,0.3); */

}

#close {
  /* clear: both; */
  position: fixed;
  transform-origin: center;
align-content: center;
 /* width: 45px;
  height: 45px; */
padding:0.8rem 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

/* @media(max-width:700px){
  #close {
    /* clear: both; */
    /* position: fixed;
    transform-origin: center;
  align-content: center;
   /* width: 45px;
    height: 45px; */
  /* padding:0.8rem 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
} */

 /* a{
  color: blue;
  font-weight: bold;
  font-size: 2em;

} */

/* background image style for larger screens */

  #bkg-beet, #bkg-dew, #bkg-me{
    background: no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;

    color:white;

    border-top-left-radius: 1rem;
    border-top-right-radius: 0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 0;
  }


/* background image style for mobile (default) */
@media(max-width:700px){
  #bkg-beet, #bkg-dew, #bkg-me{
    background: no-repeat center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-size: cover;
    color:white;
    /* min-height: 500px; */
    overflow: hidden;

    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }
}

#bkg-beet {
  /* -webkit-border-radius: 50px;
-moz-border-radius: 50px; */

  /* border-radius: 1rem; */

  /* linear-gradient 'to left' from https://www.w3schools.com/css/css3_gradients.asp */
  background-image:linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0)), url("../img/beet-logo-40.png");
  /* object-fit: cover; */

}

#bkg-dew {
  /* -webkit-border-radius: 50px;
-moz-border-radius: 50px; */

  /* border-radius: 1rem; */

  /* linear-gradient 'to left' from https://www.w3schools.com/css/css3_gradients.asp */
  background-image:linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0)), url("../img/BKG.jpg");
}

#bkg-me {
  /* -webkit-border-radius: 50px;
-moz-border-radius: 50px; */

  /* border-radius: 1rem; */

  /* linear-gradient 'to left' from https://www.w3schools.com/css/css3_gradients.asp */
  background-image:linear-gradient(to left, rgba(255,255,255,0.1), rgba(255,255,255,0.1)), url("../img/profilepic2w.jpg");
}



/* ACCORDION */
/* code from https://www.youtube.com/watch?v=8t8QCRMZCu4 */

.accordion_review {
  /* max-width:30rem; */
  margin:0;
}
.accordion-header, .accordion-content{
  /* max-width:73rem; */
}
.accordion-header {
  display: block;
  padding: 1rem;
  margin: 1rem 1rem 0 0;
  width: auto;
  text-decoration: none;
  background-color: rgba(0,0,0,0.03);
  color: rgba(0,0,0,0.9);
}

/* a.accordion-header:active {
  background-color: #FFFDF4;
} */

.accordion-content {
  padding: 0;
  height: 0;
  overflow: hidden;
  background-color: white;

  -webkit-transition:height 400ms ease;
  transition:height 400ms ease;
  width: 100%;
  padding-left:2rem;
  position: relative;



}

.accordion-content p {
  width: 100%;
}

.accordion-content:target {
  height: 520px;
  background-color: white;
  border: 1.5 solid #ef7e93;
  overflow-y: scroll;
  width: 100%;
  position: relative;
}

ul {
  padding-left: 1rem;
  style: none;
  text-decoration:none;
  list-style-type: none;

}

.close{
  position: relative;
  margin-top: 10%;
  margin-left: 80%;
  /* margin-left:  */
  /* float:left; */
}
/* .review_container{
  margin: 1.5rem;
  margin-top: 2rem;

} */
