@font-face {
    font-family: "IBMPlexSans";
    src: url('../fonts/IBMPlexSans-Regular.woff') format('woff'),
         url('../fonts/IBMPlexSans-Regular.woff') format('woff2')
         url('../fonts/IBMPlexSans-Regular.eot') format('eot');
    font-weight: normal;

}

@font-face {
    font-family: "IBMPlexSans";
    src: url('../fonts/IBMPlexSans-SemiBold.woff') format('woff'),
         url('../fonts/IBMPlexSans-SemiBold.woff') format('woff2')
         url('../fonts/IBMPlexSans-SemiBold.eot') format('eot');
    font-weight: bold;
}
